@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:ital,wght@0,400;1,500,2,600,3,700,4,800,5,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bgColor: #081b29;
  --secondBgColor: #112e42;
  --textColor: #ededed;
  --mainColor: #00abf0;
}

@layer components {
  .btn-bg-animated {
    @apply p-2 btn relative inline-flex h-full justify-center items-center w-64 bg-mainColor border-2 border-mainColor rounded-lg text-3xl capitalize font-semibold text-bgColor leading-tight overflow-hidden;
  }

  .textHeading {
    @apply font-semibold text-5xl capitalize;
  }

  .textP {
    @apply text-3xl mt-16 mb-16 leading-10 inline-flex justify-start items-start;
  }

  .centrallizedDiv {
    @apply flex justify-center items-center flex-col gap-2 pb-16;
  }
}

* {
  font-family: "Poppins" sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  scroll-behavior: smooth;
  outline: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  color: var(--textColor);
}

/* header */
.header {
  padding: 2rem 9%;
  background: transparent;
}

.navbar a {
  transition: color 0.5s ease;
}
.navbar a.active {
  color: var(--mainColor);
}

#menu-icon {
  display: none;
}

/*section*/
.container {
  min-height: 88vh;
  padding: 10rem 0 8rem;
}
.homeSection {
  min-height: 88vh;
  padding: 10rem 0 2rem;
  background: url("../assets/images/saeednoback\ \(1\).png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 600px;
  cursor: pointer;
}
.home {
  /* padding: 0 9%; */
}

.home-content {
  max-width: 60rem;
}
.home-content h1 {
  line-height: 1.5;
}
.text-animate {
  width: 32.8rem;
}

.text-animate h3 {
  -webkit-text-stroke: 0.7px var(--mainColor);
}

.btn-box {
  width: 34.5rem;
  height: 5rem;
}

.btn-box .btn {
  z-index: 1;
  border: 0.2em solid var(--mainColor);
  transition: 0.5s;
}

.btn-box .btn:hover {
  color: var(--mainColor);
}

.btn-box .btn::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: var(--bgColor);
  transition: width 0.5s ease;
}

.btn-box .btn:nth-child(2) {
  background: transparent;
  color: var(--mainColor);
}

.btn-box .btn:nth-child(2)::before {
  background: var(--mainColor);
}
.btn-box .btn:nth-child(2):hover {
  color: var(--bgColor);
}

.btn-box .btn:hover::before {
  width: 100%;
}

/*social icons*/
.home-sci {
  width: 270px;
}
.home-sci a {
  width: 40px;
  height: 40px;
  border: 2px solid var(--mainColor);
  color: var(--mainColor);
  z-index: 1;
  overflow: hidden;
  transition: 0.5s ease;
}
.home-sci a i {
  color: var(--mainColor);
}
.home-sci a:hover > i {
  color: var(--bgColor);
}
.home-sci a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: var(--mainColor);
  z-index: -1;
  transition: width 0.5s ease;
}

.home-sci a:hover::before {
  width: 100%;
}

/* hover profile effect */
.homeImageHover {
  position: absolute;
  width: 45%;
  right: 0;
  top: 0;
  height: 100%;
  transition: 2s ease-out;
}
.homeImageHover:hover {
  background: var(--bgColor);
  opacity: 0.8;
}

/*about*/
.about-img .circle-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  width: 114%;
  height: 114%;
  border-radius: 50%;
  border-top: 0.2em solid var(--secondBgColor);
  border-bottom: 0.2em solid var(--secondBgColor);
  border-right: 0.2em solid var(--mainColor);
  border-left: 0.2em solid var(--mainColor);
}

.aboutBtnBox {
  width: 100%;
}

/*education*/

.education .education-box {
  border-left: 0.2em solid var(--mainColor);
}

.education-content .content {
  border: 0.2em solid var(--mainColor);
  position: relative;
}
.education .education-box .education-content {
  position: relative;
}

.education .education-box .education-content::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3.2rem;
  width: 2rem;
  height: 2rem;
  background: var(--mainColor);
  border-radius: 50%;
}

.education-content .content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  z-index: -1;
  background: var(--secondBgColor);
  transition: 0.5s ease;
}

.education-content .content:hover::before {
  width: 100%;
}

/* skills */
.skills {
  min-height: auto;
  position: relative;
}

.skills-box .skills-content {
  border: 0.2em solid var(--mainColor);
  border-radius: 0.5rem;
  margin-top: 2rem;
  position: relative;
  z-index: 1;
  cursor: pointer;
  overflow: hidden;
}

.skills-content .progress .bar {
  height: 2.5rem;
  border-radius: 0.6rem;
  border: 0.2rem solid var(--mainColor);
  padding: 0.5rem;
  margin: 1rem 0;
}

.skills-content .progress .bar span {
  display: block;
  height: 100%;
  border-radius: 0.3rem;
  background: var(--mainColor);
}

.skills-col:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
  width: 90%;
}

.skills-box .skills-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: var(--bgColor);
  z-index: -1;
  transition: 0.5s ease;
}

.skills-box .skills-content:hover::before {
  width: 100%;
}
